@{
    ViewData["Title"] = "Home Page";
}

<div>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 heading">
                    <div class="heading-text">
                        <h1 class="heading-main">Let Us Help You Become a Better Version of Yourself</h1>
                        <p class="heading-sub">
                            Fitness Tracker will create a plan for the week allowing you to see the path to reaching your goals. Keep track of your progress
                            day to day, and your plan will adjust to meet your needs.
                        </p>
                        <div class="heading-button-container">
                            <a class="heading-button">Start Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-sm-12">
                    <h4 class="mb-3">Continue your health journey here</h4>
                    <a class="btn btn-primary">Log In</a>
                </div>
                <div class="col-12 col-md-6 col-sm-12">
                    <h4 class="mb-3">Begin your fitness journey now</h4>
                    <a class="btn btn-outline-primary">Register</a>
                </div>
            </div>
        </div>
    }
    <div class="container-fluid">
        <div class="row card-row">
                <div class="col-12 col-md-4">
                    <div class="home-card">
                        <div class="home-card-head">
                            <i class="fa-solid fa-bullseye fa-8x home-card-icon"></i>
                        </div>
                        <div class="home-card-foot">
                            <h5 class="card-text">We develop a plan to help you reach your goals</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="home-card">
                        <div class="home-card-head">
                        <i style="color: #fadd00;" class="fa-solid fa-bolt-lightning fa-8x home-card-icon"></i>
                        </div>
                        <div class="home-card-foot">
                            <h5 class="card-text">We track your exercise to accurately calculate calorie burn</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="home-card">
                        <div class="home-card-head">
                        <i style="color: #f73b3b;" class="fa-solid fa-heart fa-8x home-card-icon"></i>
                        </div>
                        <div class="home-card-foot">
                            <h5 class="card-text">Our plan will set you on the path to becoming a healthier person</h5>
                        </div>
                    </div>
                </div>
            </div>
        <div class="container-fluid generate-section">
            <h2>Get a personalized fitness plan for the week</h2>
            <p>We tailor a plan to you to allow you to reach your goals in the simplest way possible.</p>
            <a class="btn btn-primary" href="/generate">Make a Plan</a>
        </div>
    </div>
</div>
