@{
    ViewData["Title"] = "Home Page";
}

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="container-fluid home-heading">
            <h1 class="mb-4">Continue your journey to being a better you, your future is bright with Fitness Tracker</h1>
            <p>
                Track your calories and exercise each day, keeping up with the goals you want to achieve by following our plan.
                Enter your calories eaten and minutes exercised each day and your plan updates for you.
            </p>
            <div class="home-buttons">
                <a class="btn btn-dark" href="/profile">Profile</a>
                <a class="btn btn-light" href="/day/add">Track a Day</a>
            </div>
        </div>
    }
    else{
    <div class="container-fluid home-heading">
        <h1 class="mb-4">Start your journey to being a better you, make a change with Fitness Tracker</h1>
        <p>Track your calories and exercise each day, keeping up with the goals you want to achieve by following our plan.
            All you have to do is sign up and create a plan tailored to you all for free.</p>
        <div class="home-buttons">
            <a class="btn btn-dark">sign in</a>
            <a class="btn btn-light">sign up</a>
        </div>
    </div>
    }
    <div class="container-fluid">
        <div class="row card-row">
                <div class="col-12 col-md-4">
                    <div class="home-card">
                        <div class="home-card-head">
                            <i class="fa-solid fa-bullseye fa-8x home-card-icon"></i>
                        </div>
                        <div class="home-card-foot">
                            <h5 class="card-text">We develop a plan to help you reach your goals</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="home-card">
                        <div class="home-card-head">
                        <i style="color: #fadd00;" class="fa-solid fa-bolt-lightning fa-8x home-card-icon"></i>
                        </div>
                        <div class="home-card-foot">
                            <h5 class="card-text">We track your exercise to accurately calculate calorie burn</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="home-card">
                        <div class="home-card-head">
                        <i style="color: #f73b3b;" class="fa-solid fa-heart fa-8x home-card-icon"></i>
                        </div>
                        <div class="home-card-foot">
                            <h5 class="card-text">Our plan will set you on the path to becoming a healthier person</h5>
                        </div>
                    </div>
                </div>
            </div>
        <div class="container-fluid generate-section">
            <h2>Get a personalized fitness plan for the week</h2>
            <p>We tailor a plan to you to allow you to reach your goals in the simplest way possible.</p>
            <a class="btn btn-primary" href="/generate">Make a Plan</a>
        </div>
        <div class="container-fluid features-section">
            <h2>Features</h2>
            <p></p>
        </div>
    </div>
</div>
