@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    dynamic[] dictArray = { ViewBag.day1, ViewBag.day2, ViewBag.day3, ViewBag.day4, ViewBag.day5, ViewBag.day6, ViewBag.day7 };
}

<div class="fluid-container">
    <div class="row">
        <div class="col-md-4 today-box">
            <h4>@dictArray[0]["day"]</h4>
            <p>
                Calories In: <span class="week-calories">@dictArray[0]["calories"] <i class="fa-solid fa-utensils"></i></span><br />
                Exercise: <span class="week-minutes">@if (dictArray[0]["exercise"]) { <span>30</span> } <i class="fa-solid fa-person-walking"></i></span><br />
                Calories Burned: <span class="week-burned">@dictArray[0]["burned"] <i class="fa-sharp fa-solid fa-fire-flame-curved"></i></span>
            </p>
        </div>
    </div>
    <div class="row">
@for(int i = 1; i < 7; i++)
{
    var dictionary = dictArray[i];
    int caloriesAllowed = (int) dictionary["calories"];
    bool isExercise = (bool) dictionary["exercise"];
    int burned = (int) dictionary["burned"];
    int expectedMinutes = 0;
    string day = dictionary["day"];

    if (isExercise)
    {
        expectedMinutes = 30;
    }
    <div class="col-md-2 week-box">
        <h6>@day</h6>
                <p>
                    Calories In: <span class="week-calories">@caloriesAllowed <i class="fa-solid fa-utensils"></i></span><br />
                    Exercise: <span class="week-minutes">@expectedMinutes min <i class="fa-solid fa-person-walking"></i></span><br />
                    Calories Burned: <span class="week-burned">@burned <i class="fa-sharp fa-solid fa-fire-flame-curved"></i></span>
                </p>
        
    </div>
        }
    </div>
</div>