:root {
    --primary-color: #02d158;
    --secondary-color: #55c95a;
    --width: 85%;
}

body {
    font-family: "Roboto", "sans-serif";
}

.profile-bar{
    width: 95%;
}

.row {
    margin: 0px;
    padding: 0px;
}

.logo {

    background: linear-gradient(0deg, rgba(24,216,46,1) 0%, rgba(25,54,194,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link, .navbar-brand{
    color: black !important;
}

.nav-link:hover{
    opacity: 70%;
}

.navbar-brand:hover{
    opacity: 70%;
}

.container-fluid{
    padding: 0px;
}

.nav-div {
    background-color: white;
    margin: 5px 0px;
}

.navbar{
    width: var(--width);
    margin: auto;
}

.navbar-brand{
    font-size: 20px;
    font-weight: 700;

}

.nav-item{
    padding-left: 0px;
}

/* Home Page Styling */

.header-container {
    width: var(--width);
}

.home-heading {
    background: linear-gradient(0deg, rgba(64,106,194) 0%, rgba(25,194,50) 100%);
    color: white;
    padding: 4%;
    margin-bottom: 8vw;
}

.heading-text{
    padding-top: 15px;
    padding-bottom: 5px;
}

.buttons-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-image {
    background-image: url(https://c0.wallpaperflare.com/preview/704/283/674/casual-close-up-colors-contemporary.jpg);
    width: 100%;
    height: 100%;
    opacity: 75%;
    padding: 0px;
    margin: 0px;
    background-size: cover;
    background-position: center;
}

.fa-chevron-right{
    margin-left: 5px;
}

.btn-light{
    margin-left: 15px;
}

.btn:hover{
    opacity: 60%;
}


.heading-button:hover{
    opacity: 50%;
    color: white;

}

.card-row{
    margin: 15vh auto;
    width: var(--width);

}

.cards-header{
    margin: 75px;
    text-align: center;
}

.home-card{
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}

.home-card-icon {
    padding: 8px 0px;
    color: #0569b5;
    border: 2px solid;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}



.home-card-icon:hover{
    opacity: 60%;
}

.home-card-head {
    margin-bottom: 15px;
}

.home-card-foot {
    color: black;
}

.generate-section {
    color: white;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1600' height='560' preserveAspectRatio='none' viewBox='0 0 1600 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1059%26quot%3b)' fill='none'%3e%3crect width='1600' height='560' x='0' y='0' fill='rgba(18%2c 101%2c 188%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c569.36C105.119%2c555.037%2c199.814%2c506.87%2c285.888%2c444.85C368.363%2c385.424%2c452.579%2c317.664%2c483.645%2c220.873C513.541%2c127.727%2c469.206%2c31.187%2c449.407%2c-64.615C430.897%2c-154.179%2c413.43%2c-240.62%2c371.476%2c-321.886C318.831%2c-423.862%2c279.069%2c-547.656%2c175.029%2c-596.094C68.898%2c-645.506%2c-62.941%2c-624.22%2c-168.305%2c-573.193C-267.203%2c-525.298%2c-314.086%2c-417.002%2c-378.54%2c-328.006C-437.057%2c-247.208%2c-517.317%2c-175.117%2c-528.409%2c-75.974C-539.393%2c22.208%2c-466.807%2c105.465%2c-437.594%2c199.842C-402.957%2c311.74%2c-430.259%2c454.664%2c-340.763%2c530.237C-251.602%2c605.527%2c-115.629%2c585.116%2c0%2c569.36' fill='%230c427a'%3e%3c/path%3e%3cpath d='M1600 1245.48C1723.959 1210.4070000000002 1781.041 1073.176 1869.784 979.7919999999999 1935.709 910.4200000000001 2007.051 850.698 2054.27 767.458 2105.215 677.648 2148.436 583.639 2153.0190000000002 480.488 2158.237 363.03999999999996 2146.254 240.78699999999998 2082.046 142.305 2013.563 37.26599999999996 1909.452-49.17999999999995 1787.819-79.654 1667.95-109.68600000000004 1544.5529999999999-65.89999999999998 1429.337-21.226 1321.733 20.496999999999957 1210.938 71.618 1148.074 168.404 1088.157 260.652 1115.945 379.28700000000003 1098.641 487.916 1080.993 598.699 1027.125 702.613 1045.342 813.304 1066.873 944.135 1105.709 1084.893 1210.299 1166.387 1317.017 1249.539 1469.821 1282.313 1600 1245.48' fill='%232b89eb'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1059'%3e%3crect width='1600' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    padding: 50px 25px;
    width: var(--width);
    margin: auto;
    text-align: center;
    margin-bottom: 8vw;
}

.generate-body{
    width: 75%;
    margin: auto;
}

.how-section {
    width: var(--width);
    text-align: center;
    color: black;
    margin: 50px auto;
    padding: 50px 25px;
    margin-bottom: 8vw;
}

.how-header{
    display: inline-block;
    margin-bottom: 25px;
}

.call-to-action {
    width: var(--width);
    text-align: center;
    color: white;
    padding: 50px 25px;
    background: linear-gradient(0deg, rgba(25,194,50) 0%, rgba(64,106,194)100%);
    background-size: cover;
    height: 300px;
}


@media(max-width: 767px){
    .card-row, .generate-section, .header-container, .generate-body, .how-section, .call-to-action{
        width: 100%;
    }

    .navbar{
        width: 95%;
    }
}



/* results page styling */

.today-box {
    font-size: 18px;
    margin: 20px;
    border: 2px solid;
    border-image: linear-gradient(0deg, rgba(64,106,194,0.6) 0%, rgba(25,194,50,0.6) 100%);
    border-image-slice: 1;
    padding: 25px;
}

.results-heading{
    padding-top: 25px;
    padding-left: 20px;
}

.goals{
    font-size: 14px;
}

.week-box {
    width: 95%;
    border: 2px solid;
    border-image: linear-gradient(0deg, rgba(64,106,194,0.6) 0%, rgba(25,194,50,0.6) 100%);
    border-image-slice: 1;
    padding: 10px;
    padding-bottom: 0px;
    font-size: 14px;
}

.week-details {
    color: black;
}

.week-calories {
    color: #10ad54;
}

.week-minutes {
    color: #fcca03;
}

.week-burned {
    color: #f73492;
}

.loss {
    color: #d10202;
}

.week-day {
    padding-top: 5px;
    padding-bottom: 25px;
}

/* Generate Page Styling */

.generate-form {
    padding: 40px;
}

.measurements{
    padding: 0px;
    margin-right: 2vw;
}

/* Profile Page Styling */

.profile-box {
    border: 2px solid var(--primary-color);
    border-image: linear-gradient(0deg, rgba(64,106,194,0.6) 0%, rgba(25,194,50,0.6) 100%);
    padding: 20px;
    border-image-slice: 1;
    padding-right: 50px;
    margin: 15px 10px;
}

@media(max-width: 768px){
    .profile-box{
        display: none;
    }

    .profile-heading{
        text-align: center;
    }
}

.col-md-6{
    margin-bottom: 25px;
}

.profile-heading {
    margin-top: 40px;
    color: black;
}

.profile-container{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.profile-header{
    padding-bottom: 15px;
}

.past-box, .future-box {
    width: 95%;
    border: 2px solid;
    border-image-slice: 1;
    padding: 10px;
    padding-bottom: 0px;
    font-size: 14px;
}

.past-box {
    border-image: linear-gradient(0deg, rgba(191,194,64,1) 0%, rgba(31,194,25,1) 100%);
    border-image-slice: 1;
}

.future-box {
    border-image: linear-gradient(0deg, rgba(18,177,156,1) 0%, rgba(31,194,25,1) 100%);
    border-image-slice: 1;
}

.edit-button {
    border-radius: 4px;
    display: inline-block;
    background-color: #1fb013;
    color: white;
    padding: 3px 10px;
    text-decoration: none;
    margin-bottom: 10px;
}

.edit-button:hover{
    color: #1fb013;
    background-color: white;
}

.positive{
    color: red;
}

.negative{
    color: green;
}

@media (max-width: 767px) {

    .results-heading {
        text-align: center;
    }

    .week-box, .past-box, .future-box {
        width: 80%;
        margin: auto;
        margin-bottom: 2vh;
        padding-left: 15px;
    }

    .today-box {
        padding: 20px;
        width: 80%;
        margin: auto;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .week-day {
        font-size: 24px;
    }
}

.na {
    color: #9c9c9c;
}

/* Sign In and Register Styling*/

.account-page {
    width: 85%;
    margin: auto;
    padding: 5vw;
    color: white;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1600' height='900' preserveAspectRatio='none' viewBox='0 0 1600 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1158%26quot%3b)' fill='none'%3e%3crect width='1600' height='900' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1159%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1600 0L859.97 0L1600 438.95z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M859.97 0L1600 438.95L1600 683.15L745.4100000000001 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M745.4100000000001 0L1600 683.15L1600 713.6899999999999L681.6500000000001 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M681.6500000000001 0L1600 713.6899999999999L1600 829.2299999999999L383.9600000000001 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 900L520.6 900L0 611.22z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 611.22L520.6 900L587.11 900L0 456.31000000000006z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 456.31000000000006L587.11 900L1183.45 900L0 288.13000000000005z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 288.1300000000001L1183.45 900L1247.76 900L0 209.3200000000001z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1158'%3e%3crect width='1600' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.44%25' x2='89.06%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1159'%3e%3cstop stop-color='rgba(53%2c 219%2c 93%2c 1)' offset='0.24'%3e%3c/stop%3e%3cstop stop-color='rgba(82%2c 70%2c 227%2c 1)' offset='0.82'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
}

.info-box{
    padding: 3vw 6vw;
    background-color: white;
    color: black;
    text-align: center;
}

@media(max-width: 767px){

    .account-page{
        width: 100%;
        padding: 25px 15px;
    }

    .info-box{
        padding: 3vh 6vh;
    }
}


