:root {
    --primary-color: #02d158;
    --secondary-color: #55c95a
}

body {
    font-family: "Roboto", "sans-serif";
}

.row {
    margin: 0px;
    padding: 0px;
}

.nav-link, .navbar-brand{
    color: white !important;
}

.container-fluid{
    padding: 0px;
}

.nav-div {
    background-color: var(--secondary-color);
    margin: 0px;
    padding: 10px 10px;
}

.navbar-brand{
    font-size: 20px;
    font-weight: 700;
}

.navbar{
    padding: 0px;
    margin: 0px;
}

.nav-item{
    padding: 0px 10px;
}

/* Home Page Styling */

.home-heading {
    background: linear-gradient(0deg, rgba(64,106,194,0.6) 0%, rgba(25,194,50,0.6) 100%);
    color: white;
    width: 80%;
    margin-top: 50px;
    padding: 4%;
}

.heading-text{
    padding-top: 15px;
    padding-bottom: 5px;
}

.buttons-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-chevron-right{
    margin-left: 5px;
}

.btn-light{
    margin-left: 15px;
}

.btn:hover{
    opacity: 60%;
}


.heading-button:hover{
    opacity: 50%;
    color: white;

}

.card-row{
    margin: 15vh auto;
    width: 80%;

}

.cards-header{
    margin: 75px;
    text-align: center;
}

.home-card{
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}

.home-card-icon {
    color: #0569b5;
}

.home-card-icon:hover{
    opacity: 60%;
}

.home-card-head {
    margin-bottom: 15px;
}

.home-card-foot {
    color: black;
}

.generate-section{
    color: white;
    background-color: var(--secondary-color);
    padding: 50px 25px;
    width: 80%;
    margin: auto;
    text-align: center;
}


@media(max-width: 767px){
    .card-row, .generate-section, .home-heading{
        width: 100%;
    }
}

/* results page styling */

.today-box {
    font-size: 18px;
    margin: 20px;
    border: 2px solid;
    border-image: linear-gradient(0deg, rgba(64,106,194,0.6) 0%, rgba(25,194,50,0.6) 100%);
    border-image-slice: 1;
    padding: 25px;
}

.results-heading{
    padding-top: 25px;
    padding-left: 20px;
}

.goals{
    font-size: 14px;
}

.week-box {
    width: 95%;
    border: 2px solid;
    border-image: linear-gradient(0deg, rgba(64,106,194,0.6) 0%, rgba(25,194,50,0.6) 100%);
    border-image-slice: 1;
    padding: 10px;
    padding-bottom: 0px;
    font-size: 14px;
}

.week-details {
    color: #5e5e5e;
}

.week-calories {
    color: #10ad54;
}

.week-minutes {
    color: #fcca03;
}

.week-burned {
    color: #f73492;
}

.loss {
    color: #d10202;
}

.week-day {
    padding-top: 5px;
    padding-bottom: 25px;
}

/* Generate Page Styling */

.generate-form {
    padding: 40px;
}

.measurements{
    padding: 0px;
    margin-right: 2vw;
}

/* Profile Page Styling */

.profile-box {
    border: 2px solid var(--primary-color);
    border-image: linear-gradient(0deg, rgba(64,106,194,0.6) 0%, rgba(25,194,50,0.6) 100%);
    padding: 20px;
    border-image-slice: 1;
    padding-right: 50px;
    margin: 15px 10px;
}

@media(max-width: 768px){
    .profile-box{
        display: none;
    }

    .profile-heading{
        text-align: center;
    }
}

.col-md-6{
    margin-bottom: 25px;
}

.profile-heading {
    margin-top: 40px;
    color: black;
}

.profile-container{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.profile-header{
    padding-bottom: 15px;
}

.past-box, .future-box {
    width: 95%;
    border: 2px solid;
    border-image-slice: 1;
    padding: 10px;
    padding-bottom: 0px;
    font-size: 14px;
}

.past-box {
    border-image: linear-gradient(0deg, rgba(191,194,64,1) 0%, rgba(31,194,25,1) 100%);
    border-image-slice: 1;
}

.future-box {
    border-image: linear-gradient(0deg, rgba(18,177,156,1) 0%, rgba(31,194,25,1) 100%);
    border-image-slice: 1;
}

.edit-button {
    border-radius: 4px;
    display: inline-block;
    background-color: #1fb013;
    color: white;
    padding: 3px 10px;
    text-decoration: none;
    margin-bottom: 10px;
}

.edit-button:hover{
    color: #1fb013;
    background-color: white;
}

.positive{
    color: red;
}

.negative{
    color: green;
}

@media (max-width: 767px) {

    .results-heading {
        text-align: center;
    }

    .week-box, .past-box, .future-box {
        width: 80%;
        margin: auto;
        margin-bottom: 2vh;
        padding-left: 15px;
    }

    .today-box {
        padding: 20px;
        width: 80%;
        margin: auto;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .week-day {
        font-size: 24px;
    }
}

.na {
    color: #9c9c9c;
}


